extends layout

block contenido
    .contenido-principal
        h1 #{proyecto.nombre}
        h2 Añadir tarea

        // Formulario
        form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST")
            .campo
                label(for="tarea") Tarea:
                input.nombre-tarea(type="text" name="tarea" placeholder="Nombre de la tarea")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="Crear tarea")
        // Listado de pendientes
        //- pre= vardump(tareas)    
        if tareas.length
            h2 #{nombrePagina}     
            .listado-pendientes 
                ul
                    each tarea in tareas
                        li.tarea(data-tarea= tarea.id)
                            p= tarea.tarea 
                            .acciones
                                if tarea.estado
                                    i.far.fa-check-circle.completo
                                else 
                                    i.far.fa-check-circle
                                i.fas.fa-trash
        else
            h2 No hay tareas asignadas al Proyecto
        //- pre= vardump(proyecto)

        // Avance del proyecto
        if tareas.length
            .avance
                h2 Estado de desarrollo del proyecto
                #barra-avance.barra-avance
                    #porcentaje.porcentaje

        // Acciones 
        .contenedor-acciones
            a(href=`/proyectos/editar/${proyecto.id}` class="boton") Editar
            button#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" class= "boton eliminar") Eliminar